# Dependencies
node_modules/
**/node_modules/

# Environment files, 
# Commented below lines, currently storing env related details also in code for my ref
# .env
# .env.*
# **/.env
# **/.env.*

#Server Agents
server/agents/
agents/
.agents/
.claude/
.windsurf/

# Logs
logs/
*.log

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbc