# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
.env.*
**/.env
**/.env.*

# Logs
logs/
*.log

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbc